@model IEnumerable<IdentityRole>

@{
    ViewBag.PageTitle = "All Roles";
}

<link href="~/css/RegisterStyle.css" rel="stylesheet" asp-append-version="true" />

<h1>All Roles</h1>

@if (Model.Any())
{

    <a class="btn btn-primary mb-3" asp-action="CreateRole" asp-controller="Administration">
       Add new role
    </a>

    @foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                <div style="color: yellow">Role id: </div> @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRole" 
                                                     asp-controller="Administration" 
                                                     asp-route-id="@role.Id">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a>
            </div>
        </div>
    };
}
else
{
    <div class="card">
        <div class="card-header">
            No Roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration">
                Create Role
            </a>
        </div>
    </div>
}