@*@model HomeDetailsViewModel*@
@model IEnumerable<ChooseDate>

@{
    ViewBag.Title = "Calendar page";
}

@*<div class="row">
        <div class=" = col-6">
            <a href="~/images/background-image.png">
                <figure class="figure">
                    <figcaption class="figure-caption">Image1</figcaption>
                    <img src="~/images/background-image.png" class="figure-img img-fluid rounded">
                </figure>
            </a>
        </div>
    </div>*@



<div class="card" style="background-color: #12121f">
    <div class="card-footer text-center">
        <div><a asp-controller="home" asp-action="index" class="btn btn-primary">Check in</a></div>
        <div><a asp-controller="home" asp-action="details" class="btn btn-primary">Details</a></div>
        <div><a asp-controller="home" asp-action="details2" class="btn btn-primary">Details2</a></div>
    </div>
</div>




@*@section Scripts
{
    <script src="~/js/ScriptDetails.js" asp-append-version="true"></script>
}*@
