<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Calendar
    </title>
</head>
<body>
    <h2> Calendar text</h2>
    <p style="text-align: center"><button>Отметиться</button>
</body>
</html>