@{
    ViewBag.Title = "Calendar page";
}

    <div class="card">
        <div class="card-footer text-center">
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Check in</a>
            <a asp-controller="home" asp-action="details" class="btn btn-primary">Details</a>
        </div>
    </div>

@section Scripts
{
        <script src="~/js/CustomScript.js"></script>
}